@import "tailwindcss";

:root {
  /* Identidad Campo Negro */
  --color-tierra-oaxaquena: #938a7f;
  --color-cal: #f4f1e8;
  --color-oro-maguey: #c69c45;
  --color-brasa: #79170e;
  --color-ceniza: #2e2d2c;

  /* Colores auxiliares */
  --color-negro: #0c0806;
  --color-blanco: #ffffff;
  --color-cafe: #3b2d24;
  --color-cafe-texto: #55463c;

  /* Fuentes cargadas desde layout.tsx */
  --tipografia-principal: var(--fuente-principal);
  --tipografia-condensada: var(--fuente-condensada);
  --tipografia-manuscrita: var(--fuente-manuscrita);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  min-height: 100vh;

  background: var(--color-negro);
  color: var(--color-blanco);

  font-family: var(--fuente-principal), Arial, Helvetica, sans-serif;

  overflow-x: hidden;
}

button,
input,
textarea,
select {
  font: inherit;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

::selection {
  background: var(--color-oro-maguey);
  color: var(--color-negro);
}